.homes {
    width: 92%;
    display: flex;
    margin: 12px;
}

.home {
    width: 48%;
    margin: 12px;
    font-size: 25px;
    line-height: 45px;
}

.image {
    width: 45%;
   
}

#img {
    /* width: 30%; */
    display: inline-block;
    vertical-align: middle;
    max-width: 30%;
    height: 100%;
    margin: 0px 2.5rem;
}

.more{
    background: rgb(220, 236, 244);
    margin-left: 100px;
    max-width: 81.25rem;
    display: flex;
    width: 100%;
    transition: all 200ms;
    padding: 1.5rem 1rem;
}



input{
    width: 70%;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    border: 1px solid rgb(106, 120, 129);
    outline: 0px;
    border-radius: 4px;
}

.button{
    margin-left: 0.5rem;
    height: min-content;
    background-color: rgb(0, 173, 219);
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    line-height: 1.42857;
    border: none;
    outline: none;
    overflow: visible;
    background: rgb(0, 173, 219);
    appearance: none;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(5 30 46 / 24%) 0px 2px 4px 0px, transparent 0px 0px;
    opacity: 1;
    color: rgb(255, 255, 255);
    gap: 0.5rem;
    padding: 10px 12px;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 150ms ease 0s, background-color 150ms ease 0s, opacity 150ms ease 0s
}